* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bgPrimary: #00907a;
$textLight: lightcyan;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .logo {
    color: $bgPrimary;
    font-size: 25px;
    margin-left: 10px;
  }

  nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      color: black;
      border-radius: 5px;
    }

    li a:hover {
      background-color: $bgPrimary;
      color: $textLight;
      transition: all 0.5s;
    }
  }
}

.body {
  background-color: green;
  height: 200px;
}

.footer {
  background-color: gray;
  height: 80px;
}
